.home-intro {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-intro a {
  margin-bottom: 4em;
  margin-top: 10vh;
}

.home-intro .title-container {
  position: relative;
}

.home-intro .title-container h1 {
  text-align: center;
}

.home-intro .title-container .arrow-down {
  position: absolute;
  left: 43%;
  bottom: -3em;
  animation: moveDownFadeIn 1.6s ease-out infinite;
}

@keyframes moveDownFadeIn {
  0% {
    transform: translateY(0);
    opacity: 0.3;
  }
  94% {
    transform: translateY(18px);
    opacity: 1;
  }
  100% {
    transform: translateY(18px);
    opacity: 0.3;
  }
}

/* Tablet and Desktop */
@media (min-width: 701px) {
  .home-intro h1 {
    margin-bottom: 0em;
    font-size: 0.9em;
  }
  .home-intro p {
    font-size: 0.8em;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Estilos específicos para Safari */
    h1 {
      font-weight: 100;
    }
  }
}
