.Picture
  margin-bottom: 9em
  position: relative
  transition: transform ease-out
  img
    object-fit: cover

  &.about-1
    width: 150px
    height: 220px
    margin-bottom: 5em

  &.about-2
    width: 200px
    height: 200px
    align-self: flex-end
    margin-bottom: 20em
    margin-top: -5em

  &.about-3
    width: 170px
    height: 240px
    margin-bottom: 6em

  &.about-4
    width: 200px
    height: 200px
    margin-bottom: 20em
    align-self: flex-end

  &.about-5
    width: 150px
    height: 200px
    margin-bottom: 9em

  &.about-6
    width: 220px
    height: 150px
    margin-bottom: 0em
    align-self: flex-end

  &.about-7
    width: 150px
    height: 220px
    margin-bottom: 0em

/* Tablet and Desktop */
@media (min-width: 701px)
  .Picture
    &.about-1
      width: 340px
      height: 500px
      margin-left: 5em

    &.about-2
      width: 450px
      height: 450px
      align-self: flex-end
      margin-right: 2em
      margin-bottom: 20em

    &.about-3
      width: 350px
      height: 530px
      margin-left: 12em
      margin-bottom: 10em

    &.about-4
      width: 400px
      height: 400px
      align-self: flex-end
      margin-right: 4em
      margin-bottom: 15em

    &.about-5
      width: 400px
      height: 540px
      margin-bottom: 13em
      margin-left: 5em

    &.about-6
      width: 450px
      height: 300px
      margin-bottom: -5em
      margin-right: 10em
      align-self: flex-end

    &.about-7
      width: 300px
      height: 400px
      margin-bottom: -5em
      margin-left: 5em
